
textbooks/rprogramming.pdf
textbooks/reportwriting.pdf
textbooks/regmods.pdf
textbooks/modernscientist.pdf
textbooks/LittleInferenceBook.pdf
textbooks/exdata.pdf
textbooks/ddp.pdf
textbooks/datastyle.pdf
textbooks/artofdatascience.pdf
course3-datacleaning/quiz2/keys.Rdata
course4-exploratorydataanalysis/project/data/summarySCC_PM25.rds
course4-exploratorydataanalysis/project/data/Source_Classification_Code.rds
course5-reproresearch/project2/data/stormdata.csv
course6-statinfer/quiz3.R
course6-statinfer/quiz4.R
.Rproj.user
